**/node_modules
**/dist
__pycache__
*.pyc
.git
.gitignore
.env
!frontend/env/.env
backend.bak
frontend.bak
backend/.env
frontend/.env
frontend/.env.local
MiroFish-main
.vscode
.idea
.venv
backend/.venv
backend/data
